{
  "presets": [
    ["@babel/preset-env", {
    "targets": {
      "chrome": "103",
      "safari": "15.2",
      "ios": "15.2"
      },
      "modules": "auto"
    }]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "version": "^8.0.5",
      "moduleName": "@babel/runtime"
    }],
    ["babel-plugin-polyfill-corejs3", {
      "method": "entry-global",
      "version": "3.50.0"
    }]
  ]
}
